heroku-server/*
itch-version/*
bitsy.sublime-project
bitsy.sublime-workspace
bitsy.zip
electron-version/node_modules/*
experiments/electron-version/node_modules/*
src/node_modules/*
npm-debug.log
node_modules/*
dist/*
package-lock.json
build/*
cache/*
experiments/node_modules/*
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/bitsy/v16/.suo
.vs/bitsy/v15/.suo
.vs/config/applicationhost.config
